.CarteAdderBody{
    display: flex;
}

.CarteAdderInfos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.CarteAdderBody .leaflet-container {
    width: 1000px;
    height: 100vh;
}

.CarteName{
    font-family: Poppins;
    font-size:large;
    width: 80%;
}

.CarteAdderButton{
    border:none;
    background-color: #001206;
    color: white;
    width: 200px;
    height: 50px;
    margin-top: 20px;
}

.CarteAdderButtonContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map{
    height: 100vh;
    width: 2000px;
}

.carteadder-textbox {
    background-color: transparent;
    border: none;
    border: 1px solid black;
    outline: none;
    font-family: inherit;
    font-size: 8;
    width: 100%;
    height: 30px;
    padding-left: 10px;
  }