.root-login {
  display: flex;
  background: white;
  font-family: Poppins, sans-serif;
  position: relative;
  height:100vh;
  width:100%;
  overflow:hidden;
}

.left-image{
    width: 43%;
    height: 100vh;
}


.left-image img{
    max-width:100%;
    height: 100%;
}

.right-UI-login{
    width: 57%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-UI-login * {
    margin:4px;
}

.right-UI-login img{
    height: 15%;
}

h1{
    font-size: 35pt;
}

.grid-container-login {
    display:  grid;
    grid-template-columns: repeat(1, 1fr); /* Two columns */
    grid-template-rows: repeat(2, 1fr);    /* Three rows */
    margin-right: 300px;
  }

  .grid-item {
    padding: 10px;
  }

  .grid-item-login {
    padding: 30px;
  }

  
  .connection-link:link {
    color:#31E981;
  }

  .connection-link:visited {
    color:#118041;
  }

  .connection-link:active {
    color:blue;
  }

  .register-button{
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;        
    color: #ffffff;
    background-color: #00120B;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit; 
    margin-bottom: 20px;     
  }

  .login-textbox {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-family: inherit;
    font-size: 10;
    width: 250%;
  }
  
  .green-line{
    background-color: #31E981;
    height: 7px;
    position: relative;
    bottom: 10px;
    width:100px;
   }

   .error-message {
    color: red;
  }