.PIcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin-right: 1000px;*/
}

.PIfieldsandmap{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.PImapandbutton{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
}

.PImapandbutton button{
    width: 80px;
    margin-top: 20px;
}

.PIfields > * {
    margin-top: 20px;
    font-family: Poppins;
}

.PIfields input{
    padding-left: 8px;
    border-radius: 8px;
    height: 30px;
    font-family: Poppins;
    border: solid 1px #C2C2C2;
}

.PIfields select{
    padding-left: 8px;
    border-radius: 8px;
    height: 30px;
    font-family: Poppins;
    border: solid 1px #C2C2C2;
}

.heuresContainer input{
    font-family: Poppins;
    border: solid 1px #C2C2C2;
}

.piMapBody .leaflet-container {
    width: 500px;
    height: 500px;
    margin:auto;
}

.piMapBody {
    height: 500px;
}

.catetheme-container {
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: space-evenly;
}

.catetheme-container * {
    width: 225px;
    justify-content: space-evenly;
}

.single-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
}

.PIcontainer img {
    width: 300px;
}

#transportIcon {
    width: 100px;
    margin-top: 20px;
}

#horairesIcon {
    width: 100px;
}

.PIcontainer button {
    background-color: #31E981;
    color: white;
    margin-top: 20px;
}

#descField {
    height: 100px;
    padding-bottom: 60px;
}

.joursSemaine {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 500px;
    height: 200px;
}

.jour {
    background-color: #D8E4FF;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    margin-left: 10px;
    text-align: center;
    padding-top: 12px;
    cursor: pointer;
}

.jour.selected {
    border: 2px solid black;
    font-weight: bold;
  }
  
.heuresContainer {
    display: flex;
    margin-top: -30px;
    margin-bottom: 30px;
}

.heuresContainer * {
    margin-left: 20px;
    width: 250px;
    font-family: Poppins;
}

.moyenTransport {
    background-color: #D8E4FF;
    height: 100px;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 200px;
    border-radius: 10px;
    margin-left: 10px;
    text-align: center;
    padding-top: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 20pt;
}

.mtContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 500px;
    height: 200px;
}

.moyenTransport.selected {
    border: 2px solid black;
    font-weight: bold;
  }

  .cap {
    font-size: 12px;
  }

  .buttonsContainer {
    margin-top: 50px;
    margin-right: 30px;
    display: flex;
    justify-content: space-between;
    width: 150px;
  }

  .thirdbuttonsContainer *{
    margin-left: 40px;
  }

  .image-thumbnails{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 50px;
  }

  .thumbnail {
    max-width: 70px;
    max-height: 70px;
    object-fit: contain;
    margin: 5px;
    border-radius: 5px;
  }

  .filesButton {
    display: flex;
    margin-left: 100px;
  }


#deleteButton {
    background-color: #CCCCCC;
    margin-left: 10px;
}

#nbImages {
    margin-left: 150px;
}