.PIpageRoot {
    display: flex;
    flex-direction: column;
    font-family: Poppins;
    margin-left: 20px;
    margin-bottom: 20px;
}

.titre {
    font-size: 30pt;
}

.thButton {
    background-color: black;
    color:white;
    width: 150px;
    border-radius: 0px;
    margin-bottom: 10px;
    margin-right: 350px;
}

.description {
    margin-top: 10px;
    margin-bottom: 10px;
}
.description p {
    width: 500px;
    height: 100%;
    word-wrap: break-word; 
}
.description h3 {
    color: #31E981;
}

.titreandrating {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating {
    margin-right: 100px;
}

.tags {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tagBox {
    background-color: #FAFAFA;
    border-radius: 10px;
    height: 40px;
    text-align: center;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}