.PIpageRoot {
    display: flex;
    flex-direction: column;
    font-family: Poppins;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 100vh;
}

.titre {
    font-size: 30pt;
}

.thButton {
    background-color: black;
    color:white;
    width: 150px;
    border-radius: 0px;
    margin-bottom: 10px;
    margin-right: 350px;
}

.description {
    margin-top: 10px;
    margin-bottom: 10px;
}
.description p {
    width: 500px;
    height: 100%;
    word-wrap: break-word; 
}
.description h3 {
    color: #31E981;
}

.titreandrating {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating {
    margin-right: 100px;
}

.tags {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tagBox {
    background-color: #FAFAFA;
    border-radius: 10px;
    height: 40px;
    text-align: center;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .image-container {
    width: 400px; /* Set the desired width of the container */
    height: 300px; /* Set the desired height of the container */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .gallery-image {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: contain;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 0 auto;
  }

.commentaires{
    margin-top: 40px;
}
.commentaireSectionTitre {
    border-bottom: 1px solid black;
    padding-left: 5px;
    margin-left: 10px;
}

/* CommentForm.css */
.posterCommentaire {
     margin-top: 20px;
  }
  
  .sectionNote {
    display: flex;
  }
  
  .sectionCommentaireTexte {
    margin-top: 2px;
  }
  
  .sectionBoutonPublier {
    margin-top: 10px;
  }
  
  .sectionNote label {
    margin-right: 10px;
    margin-left: 5px;
  }
  
.sectionNote input[type='radio'] {
      margin-left: 5px;
    }

  .sectionCommentaireTexte input[type='text'] {
    width: 100%;
    padding-left: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 100px;
    padding-bottom: 65px;
  }
  
  .sectionBoutonPublier button {
    background-color: #31E981;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* PointInteret.css */

.popupContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 600px;
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
}

.popupHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.popupHeader h2 {
  margin: 0;
}

.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #999999;
}

.closeButton:hover {
  color: #333333;
}

.jourPI {
  background-color: #FAFAFA;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    margin-left: 10px;
    text-align: center;
    padding-top: 12px;
    border: solid 2px red;
}

.horairesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transportsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jourPI-available {
  background-color: #FAFAFA;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    margin-left: 10px;
    text-align: center;
    padding-top: 12px;
    border: solid 2px #19F679;
}

.horairesContainer img {
  width: 100px;
  margin-bottom: 10px;
}

.transportsContainer img {
  width: 100px;
  margin-bottom: 10px;
}

.popupHeader button {
  position: relative;
  left: 215px;
}