.root-register {
    display: flex;
    background: white;
    font-family: Poppins, sans-serif;
    position: relative;
    height:100vh;
    width:100%;
    overflow:hidden;
  }

.left-image{
    width: 43%;
    height: 100vh;
}


.left-image img{
    max-width:100%;
    height: 100%;
}

.right-UI{
    width: 57%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-UI * {
    margin:4px;
}

.right-UI img{
    height: 15%;
}

h1{
    font-size: 35pt;
}

.grid-container-register {
    display:  grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns */
    grid-template-rows: repeat(3, 1fr);    /* Three rows */
  }

  .grid-item {
    padding: 20px;
  }

  
  .connection-link:link {
    color:#31E981;
  }

  .connection-link:visited {
    color:#118041;
  }

  .connection-link:active {
    color:blue;
  }

  .register-button{
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;        color: #ffffff;
    background-color: #00120B;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: inherit; 
    margin-bottom: 20px;     
  }

  .register-textbox {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #c4c4c4;
    outline: none;
    font-family: inherit;
    font-size: 8;
    width: 100%;
  }

  .register-textbox:focus{
    border-bottom: 1px solid rgb(0, 0, 0);
  }
  
  .green-line{
    background-color: #31E981;
    height: 7px;
    position: relative;
    bottom: 10px;
    width:100px;
   }

   .dropdown{
    position:fixed;
    background-color: white;
    border: none;
    border-bottom: 1px solid #c4c4c4;
    outline: none;
    font-family: inherit;
    font-size: 8;
    width: 100%;
   }