* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  position: relative;
  min-height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  height: 60px;
  padding: 0 20px;
  color: black;
}

.logo img {
  height: 40px;
  margin-bottom:20px;
}

.nav-buttons a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  margin: 0 30px;
  color: black;
}

.user-buttons a {
  font-size: 18px;
  text-decoration: none;
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 50px;
}

.register-btn {
  background-color: black;
  color: white;
  border-radius: 50px;
}

.login-btn {
  background-color: transparent;
  color: black;
  border-radius: 50px;
}

.welcome-section {
  display: flex;
  height: 100vh;
  
}

.left-section {
  background-color: white;
  width:20%;
  height:100%;
  padding: 60px;
  margin:20px;
  border-radius: 50px;
  display:flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.right-section {
  background: linear-gradient(to bottom, rgba(216, 228, 255, 1), rgba(49, 233, 129, 0.7));
  width:80%;
  height:100%;
  padding: 60px;
  margin:20px;
  border-radius: 50px;
  flex: 1;
}

.left-section h1 {
  margin-bottom: 20px;
  font-size: 48px;
}

.green-text {
  color: #31E981;
}

.desc {
  font-size: 18px;
  color: #333;
  margin-bottom: 40px;
}

.cta-buttons {
  display: flex;
}

.green-btn, .white-btn {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 50px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.green-btn {
  background-color: #31E981;
  color: white;
  margin-right: 10px;
}

.white-btn {
  background-color: white;
  color: black;
}

.section-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 40px;
}

.tab{
  display: inline-block;
  padding: 15px 30px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  background-color: white;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  border:none;
  font-family: inherit;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor:pointer;
}

.tab-active{
  display: inline-block;
  padding: 15px 30px;
  border-radius:  10px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  width: 100%;
  margin-bottom: 10px;
  background-color: #31E981;
  color: white;
  text-align: center;
  border:none;
  font-family: inherit;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor:pointer;
}


